body {
font-family: Arial, Helvetica, sans-serif;
padding: 0;
margin: 0;
}

.all-chats {
float: right;
}

.chat-box {
display: none; /*inline-block*/
width: 242px;
background: #fff;
border: 2px solid #bbb;
border-radius: 5px 5px 0 0;
/*position: fixed;
bottom: 0;
right: 0;*/
margin: 0 0 0 1px;
padding: 2px;
float: right;
}

.chat-box .header {
display: inline-block;
width: 99%;
font-size: 12px;
padding: 5px;
background: #000;
color: #fff;
position: relative;
left: -4px;
border-radius: 4px 4px 0 0;
min-height: 14px;
top: -4px;
min-width: 235px;
}

.chat-box .chats {
height: 229px;
overflow-x: hidden;
overflow-y: auto;
}

.chat-box .chats .chat-row {
display: inline-block;
width: 100%;
}

.chat-box .chats .chat-row.receiver {
}

.chat-box .chats .chat-row.sender .profile {
float: right;
}

.chat-box .chats .chat-row.receiver .profile {
}

.chat-box .chats .chat-row .profile {
float: left;
position: relative;
width: 30px;
height: 30px;
}

.chat-box .chats .chat-row .profile .installid {
position: absolute;
bottom: 0px;
width: 100%;
text-align: center;
background: #ddd;
opacity: 0.6;
font-size:5px;
}

.chat-box .chats .chat-row .profile img {
height: 30px;
width: 30px;
position: absolute;
left: 0;
top: 0;
font-size: 4px;
}

.chat-box .chats .chat-row.receiver .profile span {
float: left;
color: red;
}

.chat-box .chats .chat-row .message {
display: inline-block;
width: 180px;
padding: 2px;
color: #fff;
font-size: 11px;
}

.chat-box .chats .chat-row.receiver .message {
float: left;
background: #A33E3F;
border-radius: 5px;
color: #ccc;
}

.chat-box .chats .chat-row.sender .message {
float: right;
background: #333;
color: #ccc;
border-radius: 5px;
}

.chat-box .chat-text {
position: relative;
bottom: 0px;
width: 100%;
}

.chat-box .chat-text input[type=text] {
width: 99%;
}

.chat-box .chat-text input[type=button] {
width: 43px;
padding: 1px;
}

.chat-box .chats .chat-row .message .tick, .chat-box .chats .chat-row .message .time, .chat-box .chats .chat-row .message .est {
display: inline-block;
font-size:10px;
}

.tick img {
width: 16px;
}

.est {
color: #A33E3F;
}
.chat-row.receiver .est {
 color: #000;}
.all-chats .header .minimize {
    color: #fff;
    font-size: inherit;
    float: right;cursor: pointer;
}
.all-chats .header .minimize:hover {
    background: #666;
}
.all-chats .header .close {
    color: #fff;
    font-size: inherit;
    float: right;    position: relative;
    top: 0;
    right: 0;
}
.all-chats .header .close:hover {
    background: #666;
} 
.all-chats .header .group-name{}