<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add connectionString="Server=jgdbserver001.cdgdaha6zllk.us-west-2.rds.amazonaws.com,1433;Database=JGBS_Dev_New;User ID=devloperuser;Password=JG%987" name="JGPA" providerName="System.Data.SqlClient" /> 
  </connectionStrings>
  
</configuration>